nav {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    overflow: hidden;
}

.full-display {
    width: 100%;
    height: 100%;
}

.full-display>ul{
    width: 60%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

.full-display>ul>li {
    display: flex;
    float: left;
    width: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 auto;
    height: 100%;
}

.full-display>ul>li>a {
    color: white;
    text-decoration: none;
}


.full-display>ul>li>a:hover {
    font-weight: bolder;
}


.navbar-background {
    width: 100%;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
}

.mobile-display {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

@media(max-width: 768px) {
    .full-display {
        display: none;
    }
    .mobile-display {
        display: flex;
    }

    .navbar-background {
        height: auto;
    }
}

.mobile-menu {
    display: none;
    width: 60%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    padding-bottom: .5rem;
}

.mobile-menu>li {
    padding: 0.7rem 0;
    padding-top: 0;
}

.mobile-menu>li>a {
    color: white;
    text-decoration: none;
}
.mobile-menu>li>a:hover {
    font-weight: bolder;
}

.active {
    display: block;
}

.menu-icon {
    cursor: pointer;
}